body{
    background: rgb(28, 22, 34);
    
}   
#gamecontainer{
    background: url("https://cdn.discordapp.com/attachments/895407358098964490/905187602976624690/Palace.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    background-size: cover;
    padding: 3%;
    margin: 50px;
    border-radius: 25px;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4vw;
    color: rgb(238, 188, 52);
    border: 8px solid rgb(157, 137, 228);
    border-radius: 25px;
    background: linear-gradient(164deg, rgba(110,110,230, 0.5) 30%, rgba(161, 105, 218, 0.4) 83%);

    /* Padding and Margin */
    padding: 0.5vw;
    margin-top: 25px;
    margin-left: 30vw;
    margin-right: 30vw;
}
footer{
    color: rgb(238, 188, 52);
    font-family: sans-serif;
    vertical-align: bottom;
}

button{
    display: inline-block;

    /* General Cosmetics */
    background-color: rgb(66, 105, 235);
    border: none;
    color: white;
    
    text-align: center;
    font-size: 2.5vw;

    
    
    /* Padding, Marging, Size and Border */
    left: 0%;

    width: 100%;
    margin: 5px;
    border-radius: 1vw;
    


    /* Cursor type */
    cursor: pointer;
}
button:hover{
    background-color: rgb(56, 92, 209);
}
nav{
    display: flex;

    justify-content: center;
    flex-direction: column;
}
div.container{
    justify-content: center;
    display:flex;
    flex-direction: row;
    flex-shrink:1;
    margin: 5%;
    border-radius: 15px;
}